*
{

    margin: 0;
    padding: 0;

}

body
{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.container_01
{

    width: 400px;
    height: 200px;
    background-color: rgb(246, 188, 188);
    border-radius: 20px;
    padding: 10px;

}

.container_02
{

    width: 400px;
    height: 200px;
    text-align: center;
}

.inputs > div
{

    padding: 10px;
}

.operators
{

    display: flex;
    justify-content: center;
    align-items: center;

}

.operators > div
{

    padding: 10px;

}

.container_03 .operators > div > input
{

    width: 40px;
    height: 40px;
}